SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
ODONTO_GUARDIAO_EMAIL=
ODONTO_GUARDIAO_PWD=
JWT_SECRET=
JWT_REFRESH_SECRET=
USUARIO_ADMIN_SEED_JSON=[{"usuario":"admin","senha":"senhaSegura"}]
